USE [master]
GO
/****** Object:  Database [MVC-DbStok]    Script Date: 13.11.2022 18:16:26 ******/
CREATE DATABASE [MVC-DbStok]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVC-DbStok', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MVC-DbStok.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVC-DbStok_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MVC-DbStok_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVC-DbStok].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVC-DbStok]
GO
/****** Object:  Table [dbo].[TBLKATEGORILER]    Script Date: 13.11.2022 18:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORILER](
	[KATEGORIID] [smallint] IDENTITY(1,1) NOT NULL,
	[KATEGORIAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKATEGORILER] PRIMARY KEY CLUSTERED 
(
	[KATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERILER]    Script Date: 13.11.2022 18:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERILER](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSATISLAR]    Script Date: 13.11.2022 18:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATISLAR](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[ADET] [tinyint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TBLSATISLAR] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 13.11.2022 18:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNADI] [varchar](50) NULL,
	[MARKA] [varchar](50) NULL,
	[URUNKATEGORI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[STOK] [tinyint] NULL,
 CONSTRAINT [PK_TBLURUNLER] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] ON 

INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (1, N'BEYAZ EŞYA')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (2, N'KÜÇÜK EV ALETLERİ')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIAD]) VALUES (3, N'BİLGİSAYARr')
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] ON 

INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (1, N'EMEL ', N'ÇINAR')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (2, N'MEHMET ', N'ÖZTÜRK')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (3, N'BERK ', N'UZUN')
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBLURUNLER] ON 

INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (1, N'ÇAMAŞIR MAKİNESİ', N'ARÇELİK', 1, CAST(1235.00 AS Decimal(18, 2)), 15)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (2, N'BULAŞIK MAKİNESİ', N'ARÇELİK', 1, CAST(850.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNADI], [MARKA], [URUNKATEGORI], [FIYAT], [STOK]) VALUES (3, N'SU ISITICI', N'VESTEL', 2, CAST(25.00 AS Decimal(18, 2)), 50)
SET IDENTITY_INSERT [dbo].[TBLURUNLER] OFF
GO
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLMUSTERILER]
GO
ALTER TABLE [dbo].[TBLSATISLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUNLER] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATISLAR] CHECK CONSTRAINT [FK_TBLSATISLAR_TBLURUNLER]
GO
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER] FOREIGN KEY([URUNKATEGORI])
REFERENCES [dbo].[TBLKATEGORILER] ([KATEGORIID])
GO
ALTER TABLE [dbo].[TBLURUNLER] CHECK CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER]
GO
USE [master]
GO
