
@{
    ViewBag.Title = "YeniMüsteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>MUSTERI ADI </label>
        <input type="text" class="form-control" name="MUSTERIAD" />
        <label>MUSTERI SOYADI </label>

        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <div style="margin-top:15px">
       
            <button class="btn btn-info">Müşteri Ekle </button>
        </div>
</form>

